html {
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

.app {
  text-align: center;
  margin-bottom: 20px;
}

.app-header {
  padding: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #bbb;
  font-size: 30px;
}

.section-title {
  font-size: 16px;
  background: #ddd;
  padding: 10px;
  font-weight: bold;
}

.container {
  background: #eee;
  text-align: left;
  padding: 30px;
  border-radius: 1px;
}

.section-outline {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #f2f2f2;
}

.server {
}

.server-form {
}

.section-body {
  padding: 12px 12px 12px 12px;
}

.section-form {
  margin-bottom: 30px;
}

.message-content {
  display: flex;
}

.section-json {
  flex-grow: 1;
}

.section-docs {
  flex-grow: 0;
  background-color: #fff;
  color: #555;
  border-radius: 3px;
  max-width: 386px;
  padding: 12px;
  margin-left: 12px;
}

.docs-method {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 18px;
}

.docs-description {
  font-size: 13px;
  padding-bottom: 12px;
  white-space: pre-line;
}

.docs-title {
  margin: 6px 0;
  font-weight: bold;
  font-size: 14px;
}

.docs-copy {
  font-size: 12px;
  white-space: pre-line;
}

.colon {
  vertical-align: bottom;
  padding: 0 4px;
  line-height: 36px;
}

.result {
  margin-top: 20px;
  padding: 20px;
  background: #333;
  border-radius: 3px;
}

.result h5 {
  margin-top: 0;
  color: #aaa;
}

.result pre {
  color: #ddd;
}

pre {
  white-space: pre-wrap;
  padding: 20px;
}
